<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="/js/console-dispatcher.babel.js"></script>
    {{#if css}}
    <style>{{{css}}}</style>
    {{/if}}
</head>
<body>{{#if html}}{{{html}}}{{/if}}{{#if js}}<script>{{{js}}}</script>{{/if}}</body>
</html>