<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>snippet-host</title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet">
    <link href="/css/snippet-host-dark.css" rel="stylesheet" />
    <link href="/css/snippet-console-only.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="/css/img/favicon.png" />
</head>
<body>
    <div class="editor-tile">demo</div>
    <div class="editor-tile">console</div>
    <iframe id="snippet-render-frame" name="snippet-render-frame" sandbox="allow-forms allow-modals allow-pointer-lock allow-popups allow-scripts"></iframe>
    <div class="snippet-output snippet-console">
        <div class="console-line console-line-input">
            <div class="console-line-header"></div>
            <textarea class="console-line-content" id="console-input" spellcheck="false"></textarea>
        </div>
    </div>
    <form method="post" action="{{renderPath}}/snippet-render" target="snippet-render-frame">
        <input type="hidden" name="html" value="{{html}}" />
        <input type="hidden" name="js" value="{{js}}" />
        <input type="hidden" name="css" value="{{css}}" />
    </form>
    <script src="/js/console-receiver.babel.js"></script>
</body>
</html>