<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>snippet-editor</title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet">
    <link href="/css/snippet-editor.css" rel="stylesheet" />
</head>
<body>
    <form class="editor" action="/snippet-host" method="POST" target="snippet-host-frame">
        <label for="html">html</label>
        <label for="js">js</label>
        <label for="css">css</label>
        <textarea id="html" name="html">&lt;div&gt;
  &lt;h1&gt;Sample Title&lt;/h1&gt;
  &lt;p&gt;Sample lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.&lt;/p&gt;
  &lt;img src="https://lorempixel.com/400/200/" alt="lorem pixel" height="200" width="400"&gt;
&lt;/div&gt;</textarea>
        <textarea id="js" name="js">(() =&gt; {

  let values = [
    "test",
    true,
    1337,
    Infinity,
    NaN,
    window,
    /(?:)/,
    Symbol("foo"),
    new Map([["a",1],[window,1337]]),
    new Set(["a","b","c","d"]),
    new Date,
  ];

  values.push(values);

  console.time("sample timer");

  console.group("group 1");  

  console.group("group 2");  

  console.log("array with circular reference: %o", values);

  setTimeout(() =&gt; {
   console.groupEnd();
   console.timeEnd("sample timer");
   console.groupEnd();
   console.log(document.body);
  }, 15);

  document.addEventListener("wheel", e =&gt; console.log(e));

  throw new Error("sample error");

})();</textarea>
        <textarea id="css" name="css">html,body {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  min-height: 100vh;
  font-family: sans-serif;
  font-size: 11pt;
  color: #d5d5d5;
  background-color: #111;
}
body::before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('https://lorempixel.com/400/200/');
  background-size: cover;
  filter: blur(30px);
  opacity: .33;
  z-index: -1;
}
div {
  box-sizing: border-box;
  min-height: 100vh;
  max-width: 700px;
  margin: 0 auto;
  padding: 30px 60px 60px 60px;  
  background-color: rgba(66,66,66,.25);
}
p {
  line-height: 1.5em;
}</textarea>
        <iframe class="output-frame" id="snippet-host-frame" name="snippet-host-frame" sandbox="allow-forms allow-modals allow-pointer-lock allow-popups allow-scripts"></iframe>
    </form>
    <script src="/js/snippet-editor.js"></script>
</body>
</html>